@* @model MusicPlayer.ViewModels.IndexViewModel; *@

﻿@{

    ViewData["Title"] = "Music Player";
}

@using (Html.BeginForm("Teste", "MusicPlayer", FormMethod.Post))
{
    <div class="text-center row m-5">
        <h1 class="display-3">Music Player - Gerador de música a partir de textos</h1>
        <div class="container text-center mt-5">
            <p>Reproduza um texto qualquer como música! O gerador lerá o texto e transformará em uma música totalmente única, com harmonia, timbre, ritmos, tudo instantaneamente!</p>
        </div>
    </div>

    <div class="row m-5">

        <div class="form-group">

            @Html.Label("textInput","Insira o texto abaixo:")
            @* @Html.TextBoxFor(x=>x.Music) *@
            <textarea class="form-control" id="textInput" rows="10" placeholder="Insira aqui o texto a ser transformado em música"></textarea>
        </div>
    </div>

    <div class="row m-5 ">

        <div class="dropdown col-md-3 offset-md-3">
            @Html.DropDownList("Instrument",Html.GetEnumSelectList<MusicPlayer.Models.Instruments>(),"Instrument",new { @class = "btn btn-secondary  width-btn"})
        </div>
        <div class="dropdown col-md-3 offset-md-3">
            @Html.DropDownList("Instrument",Html.GetEnumSelectList<MusicPlayer.Models.Octaves>(),"Octaves",new { @class = "btn btn-secondary  width-btn"})
        </div>
    </div>



    <div class="row m-5">
        <!-- Slider de Volume -->
        <div class="volume-slider centro-vertical-horizontal">
            <label for="volumeRange">Volume:</label>
            <input type="range" class="form-control-range" id="volumeRange">
        </div>

        <!-- Botões de Play/Pause -->

    </div>

    <div class="row m-5 align-content-center">
        <div class="final-buttons centro-vertical-horizontal ">

            <button type="button" class="btn btn-lg width-btn btn-secondary btn-block m-2">PLAY</button>
            <button type="button" class="btn btn-lg width-btn btn-secondary btn-block m-2">STOP</button>

        </div>
    </div>
}