@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Music Player</h1>
  
    <button type="button" class="btn btn-secondary m-5 btn-lg">Try it now</button>
</div>
<div>
    <p class="m-5 text-center"> This app is a way to play your favorite poetry, frase, or chapter as if it was music! Dont think that the music will be nice as your favorite song, nothing can be lovely to hear as 22 from Taylor Switf :)</p>
</div>
