@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center row m-5">
    <h1 class="display-3">Music Player - Gerador de música a partir de textos</h1>
    <div class="container text-center mt-5">
        <p>Reproduza um texto qualquer como música! O gerador lerá o texto e transformará em uma música totalmente única, com harmonia, timbre, ritmos, tudo instantaneamente!</p>
    </div>
</div>
<div class="row m-5">

    <div class="form-group">
        <label for="textInput">Insira o texto abaixo:</label>
        <textarea class="form-control" id="textInput" rows="10" placeholder="Insira aqui o texto a ser transformado em música"></textarea>
    </div>
</div>


<div class="row m-5 ">
    
        <!-- Dropdown para Instrumento -->
    
    <div class="dropdown1  col-md-3 offset-md-3">
        <button class="btn  btn-secondary width-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instrumento
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">piano</a>
                <a class="dropdown-item" href="#">violão</a>
                <a class="dropdown-item" href="#">guitarra</a>
            </div>
        </div>

    <div class="dropdown2 col-md-3 ">
        <button class="btn  btn-secondary width-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oitava
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">oitava 1</a>
                <a class="dropdown-item" href="#">oitava 2</a>
                <a class="dropdown-item" href="#">oitava 3</a>
            </div>
        </div>
    
</div>


<div class="row m-5">
    <!-- Slider de Volume -->
        <div class="volume-slider centro-vertical-horizontal">
            <label for="volumeRange">Volume:</label>
            <input type="range" class="form-control-range" id="volumeRange">
        </div>

        <!-- Botões de Play/Pause -->
        
</div>

<div class="row m-5 align-content-center">
    <div class="final-buttons centro-vertical-horizontal ">

        <button type="button" class="btn btn-lg width-btn btn-secondary btn-block m-2">PLAY</button>
        <button type="button" class="btn btn-lg width-btn btn-secondary btn-block m-2">PAUSE</button>

    </div>

</div>



