@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center row m-5">
    <h1 class="display-3">Music Player - Gerador de música a partir de textos</h1>
    <div class="container text-center mt-5">
        <p>Reproduza um texto qualquer como música! O gerador lerá o texto e transformará em uma música totalmente única, com harmonia, timbre, ritmos, tudo instantaneamente!</p>
    </div>
</div>
<div class="row m-5">

    <div class="form-group">
        <label for="textInput">Insira o texto abaixo:</label>
        <textarea class="form-control" id="textInput" rows="10" placeholder="Insira aqui o texto a ser transformado em música"></textarea>
    </div>
</div>


<div class="row m-5 ">
    
        <!-- Dropdown para Instrumento -->
    
    <div class="dropdown col-md-3 offset-md-3">
        <button class="btn btn-secondary  width-btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Instrumento
        </button>
        <ul class="dropdown-menu dropdown-menu-dark width-btn" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item " href="#">Piano</a></li>
            <li><a class="dropdown-item" href="#">Guitarra</a></li>
            <li><a class="dropdown-item" href="#">Oboé</a></li>
            <li><a class="dropdown-item" href="#">Harpa</a></li>
        </ul>
    </div>

    <div class="dropdown col-md-3 ">
        <button class="btn btn-secondary  width-btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Oitava
        </button>
        <ul class="dropdown-menu dropdown-menu-dark width-btn" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item " href="#">Primeira</a></li>
            <li><a class="dropdown-item" href="#">Segunda</a></li>
            <li><a class="dropdown-item" href="#">Terceira</a></li>
            <li><a class="dropdown-item" href="#">Quarta</a></li>
            <li><a class="dropdown-item" href="#">Quinta</a></li>
            <li><a class="dropdown-item" href="#">Sexta</a></li>
        </ul>
    </div>
    
</div>


<div class="row m-5">
    <!-- Slider de Volume -->
        <div class="volume-slider centro-vertical-horizontal">
            <label for="volumeRange">Volume:</label>
            <input type="range" class="form-control-range" id="volumeRange">
        </div>

        <!-- Botões de Play/Pause -->
        
</div>

<div class="row m-5 align-content-center">
    <div class="final-buttons centro-vertical-horizontal ">

        <button type="button" class="btn btn-lg width-btn btn-secondary btn-block m-2">PLAY</button>
        <button type="button" class="btn btn-lg width-btn btn-secondary btn-block m-2">STOP</button>

    </div>

</div>



