@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-3">Music Player - Gerador de música a partir de textos</h1>
    <div class="container text-center mt-5">
        <p>Reproduza um texto qualquer como música! O gerador lerá o texto e transformará em uma música totalmente única, com harmonia, timbre, ritmos, tudo instantaneamente!</p>
    </div>


    <div class="form-group">
        <label for="textInput">Insira o texto abaixo:</label>
        <textarea class="form-control" id="textInput" rows="10" placeholder="Insira aqui o texto a ser transformado em música"></textarea>
    </div>


    <div class="d-flex justify-content-center mb-3">
        <!-- Dropdown para Instrumento -->

        <div class="dropdown1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instrumento
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">piano</a>
                <a class="dropdown-item" href="#">violão</a>
                <a class="dropdown-item" href="#">guitarra</a>
            </div>
        </div>

        <div class="dropdown2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oitava
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">oitava 1</a>
                <a class="dropdown-item" href="#">oitava 2</a>
                <a class="dropdown-item" href="#">oitava 3</a>
            </div>
        </div>

        <!--
        <div class="form-group mx-3 custom-dropdown">
            <label for="instrumentoDropdown">Instrumento:</label>
            <select class="custom-select" id="instrumentoDropdown">
                <option value="piano">Piano</option>
                <option value="violao">Violão</option>
                <option value="guitarra">Guitarra</option>
                <option value="flauta">Flauta</option>
            </select>
        </div>

        <div class="form-group mx-3 custom-dropdown">
            <label for="oitavaDropdown">Oitava:</label>
            <select class="custom-select" id="oitavaDropdown">
                <option value="1">Oitava 1</option>
                <option value="2">Oitava 2</option>
                <option value="3">Oitava 3</option>
            </select>
        </div>

        -->

     
        <!-- Slider de Volume -->
        <div class="volume-slider">
            <label for="volumeRange">Volume:</label>
            <input type="range" class="form-control-range" id="volumeRange">
        </div>

        <!-- Botões de Play/Pause -->
        <div class="final-buttons">

            <button type="button" class="btn btn-secondary">PLAY</button>
            <button type="button" class="btn btn-secondary">PAUSE</button>

        </div>
    </div>
</div>
