.centro-vertical-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width-btn{
    width: 15vw;
}

.alignment {
    display:flex;
    justify-content: center;
    align-items: center;
}

.dropdown{
    align-self: center;
}