html {
    font-size: 14px;
}

.display-3 {
    font-size: 45px;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
}

    /* Setas personalizadas */
    .custom-dropdown::after {
        content: "\25BC"; /* Código Unicode para a seta para baixo */
        position: absolute;
        top: 70%;
        right: 20px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    /* Remove a borda do dropdown */
    .custom-dropdown select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        width: 100%;
        padding: 5px; /* Ajuste conforme necessário */
        cursor: pointer;
        background-color: #ccc; /* Cor de fundo cinza */
    }



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.dropdown1 {
    margin-right: 20px;
    margin-top: 20px;
}

.dropdown2 {
    margin-right: 20px;
    margin-top: 20px;
}

.volume-slider {
    margin-top: 20px;
}
.final-buttons {
    margin-top: 20px;
    text-align: center;
}

.final-buttons button {
    font-size: 24px; /* Ajuste conforme necessário */
    margin: 0 10px;
}